# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock
dist/
build/
.env
.env.*

# pnpm
.pnpm-debug.log*

# IDEs
.vscode/
.idea/
*.swp
*.sublime*

# OS
.DS_Store
Thumbs.db

# Output
*.zip
*.pptx
*.png

# Monorepo
packages/*/node_modules/

# Removed assets
functions.zip
screenshot.png
posedance.pptx
app/app.zip

# Misc
coverage/
.husky/_/