@charset "utf-8";
@import '../../../node_modules/bulma/bulma.sass';

.shadow {
	border: 5px #191923 solid;
	border-radius: 2px;
	margin: 5px;
	padding: 5px;
	box-shadow: -8px 8px 0px #ad8dcd;
}

.button-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin: 1rem 0;
	width: 100%;
}

.button {
	&.is-large {
		min-width: 120px;
		margin: 0 0.5rem;
	}
}
